body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: black;
  justify-content: center;
}

#posts-container {
  display: flex;
  flex-direction: column; /* Vertical alignment */
  max-width: 100%; 
  padding: 20px;
  margin-top: 6%;
}

.post {
  display: flex; /* Display post contents in a row */
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin: 10px 0; /* Adjust vertical spacing */
}

.post img {
  width: 400px; /* Specific size for each post image */
  height: 500px;
  object-fit: cover; /* Maintain aspect ratio and cover */
  border-radius: 5px 0 0 5px; /* Rounded corners for the left side */
}

.post-details {
  flex: 1; /* Take up remaining space */
  padding: 10px;
}

.post-user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-user-info span {
  font-weight: 600;
}

.post-caption {
  margin-bottom: 10px;
  font-size: 16px; /* Increase font size */
}

.post-likes {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 16px; /* Increase font size */
}

.post-comments {
  max-height: 300px;
  overflow-y: auto;
}

.comment {
  margin: 5px 0;
  display: flex;
}

.comment span:first-child {
  font-weight: 600;
  margin-right: 5px;
}
