-i https://pypi.org/simple
alembic; python_version >= '3.7'
aniso8601
bcrypt
blinker; python_version >= '3.7'
click; python_version >= '3.7'
faker
flask
flask-cors
flask-migrate
flask-restful
flask-sqlalchemy
greenlet; platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
gunicorn
itsdangerous>=; python_version >= '3.7'
jinja2; python_version >= '3.7'
mako; python_version >= '3.7'
markupsafe; python_version >= '3.7'
packaging; python_version >= '3.7'
psycopg2-binary
python-dateutil; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz>=2023.3.post1
six; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sqlalchemy; python_version >= '3.7'
sqlalchemy-serializer
typing-extensions; python_version >= '3.8'
werkzeug; python_version >= '3.8'
