[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
python-jose = {version = "*", extras = ["cryptography"]}
passlib = {version = "*", extras = ["bcrypt"]}
python-multipart = "*"
pydantic = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.10"
